@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model B10956057_webapi.Models.LoginUser

<div class="card mb-2 border-0">
    <div class="row g-0">
        <div class="col-md-8">
            <img src="~/img/1.jpg" class="img-fluid rounded-start rounded" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body bg-light">
                <h5 class="card-title">登入</h5>
                <form asp-action="Index">
                    <p class="card-text">
                        <div class="mb-3">
                            <label for="input_account" class="form-label">帳號</label>
                            <input type="text" class="form-control" id="input_account" asp-for="Account" placeholder="請輸入帳號" />
                        </div>
                        <div class="mb-3">
                            <label for="input_password" class="form-label">密碼</label>
                            <input type="password" class="form-control" id="input_password" asp-for="Password" placeholder="請輸入密碼" />
                        </div>
                    </p>
                    <p class="text-danger">@ViewData["ErrorMessage"]</p>
                    <p class="card-text">
                        <a class="btn-link btn" href="#">沒有帳號?  點這裡註冊</a>
                    </p>
                    <p class="card-text"><<button type="submit" class="btn btn-primary">登入</button></p>
                </form>

            </div>
        </div>
    </div>
</div>